.log {
    margin-left: 41%;
    position: relative;
    right: 2%;
    color: black;
    text-decoration: none;
  }
  .log2 {
    color: black;
    text-decoration: none;
    position: relative;
  }
  .container-fluid {
    margin: 0 auto;
    width: 1500px;
  }
  body {
    font-family: "Noto Sans KR", sans-serif;
  }
  .navbar-brand {
    font-size: 30px;
  }
  .title {
    margin-top: 50px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
  }
  .d-flex{
    margin-left: 9%;
  }
  .navbar-brand{
    margin-left: 20px;
  }
